<div class="header-topnav mat-elevation-z2">
    <div class="container">
        <div class="topnav">
            <!-- App Logo -->
            <div class="topbar-branding">
                <img src="assets/images/logo-inner.png" alt="" class="app-logo">
            </div>

            <span fxFlex></span>
            <!-- End Navigation -->

            <!-- Top left user menu -->
            <button mat-icon-button [matMenuTriggerFor]="accountMenu" class="topbar-button-right img-button">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #accountMenu="matMenu">
                <button mat-menu-item (click)="signOut()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Sign out</span>
                </button>
            </mat-menu>
        </div>
    </div>
</div>
